<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <div class='lives'>
      {{#each lives}}
        <div>Presentation = {{live}}</div>
        <div>Speaker = {{speaker}}</div>
        <div>URL = {{url}}</div>
      {{/each}}
    </div>
  </body>
</html>